<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Claudio & Clothing</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <link rel="icon" type="icon" href="img/seww.ico" />
    <script src="js/Jquery.js"></script>
    <script src="css/bootstrap/js/bootstrap.js"></script>
</head>
<body>
    <div id="all">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="#"><img src="img/sew.png" id="sew"/> Claudio & Clothing</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="http://www.instagram.com"><img src="img/ig.svg" id="sew"/> Instagram</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><img src="img/whatsapp.svg" id="sew"/> +234 810 245 3114</a>
                </li>
            </ul>

        </div>
    </nav>

    <div class="container">
        <div id="jumbotron" class="jumbotron">
            <div id="cc">
            <h1><img src="img/sew.png" id="sew"/> Claudio and Clothing</h1>
            <h5>Fuck Your Tailor, Try Me Instead</h5>
            </div>
      </div>
 </div>

<div class="container">
<div class="row r">
    
    <div class="col-lg-6 col-sm-6 dd">
        <div class="row">
            <img src="img/img1.jpg" class="col-md-12 col-xs-12" id="img"/>
            <span class="col col-md-9 col-xs-9 comment"><h4>My exquisite design flaw will blow your mind</h4></span>
            <span class="col col-md-3 col-xs-3 price"><h4>#2,200</h4></span>
        </div>
      </div>

      <div class="col-lg-6 col-sm-6 dd">
        <div class="row">
            <img src="img/img2.jpg" class="col-md-12 col-xs-12" id="img"/>
            <span class="col col-md-9 col-xs-9 comment"><h4>My exquisite design flaw will blow your mind</h4></span>
            <span class="col col-md-3 col-xs-3 price"><h4>#2,200</h4></span>
        </div>
      </div>

      <div class="col-lg-6 col-sm-6 dd">
        <div class="row">
            <img src="img/img3.jpg" class="col-md-12 col-xs-12" id="img"/>
            <span class="col col-md-9 col-xs-9 comment"><h4>My exquisite design flaw will blow your mind</h4></span>
            <span class="col col-md-3 col-xs-3 price"><h4>#2,200</h4></span>
        </div>
      </div>

      <div class="col-lg-6 col-sm-6 dd">
        <div class="row">
            <img src="img/img4.jpg" class="col-md-12 col-xs-12" id="img"/>
            <span class="col col-md-9 col-xs-9 comment"><h4>My exquisite design flaw will blow your mind</h4></span>
            <span class="col col-md-3 col-xs-3 price"><h4>#2,200</h4></span>
        </div>
      </div>

      <% for(var i = 0; i < clothings.length; i++){ %> 
        <div class="col-lg-6 col-sm-6 dd">
            <div class="row">
                <img src="<%= clothings[i].image %>" class="col-md-12 col-xs-12" id="img"/>
                <span class="col col-md-9 col-xs-9 comment"><%= clothings[i].comment %></span>
                <span class="col col-md-3 col-xs-3 price"><%= clothings[i].price %></span>
            </div>
          </div>

      <%  }; %>

  
</div>
</div>

<footer>
    <div class="container">
    @Casper Devs
    </div>
</footer>



</div>
    
</body>
</html>