<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="css/admin.css" />
    <link rel="icon" type="icon" href="img/seww.ico" />
    <script src="js/Jquery.js"></script>
    <script src="css/bootstrap/js/bootstrap.js"></script>
    <title>Login</title>
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="#"><img src="img/sew.png" id="sew"/> Claudio & Clothing</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
            </ul>
    
        </div>
    </nav>

    <div id="form" class="container">
        <div class="row" id="login">
        <div class="col-12">
            <div>
               <h5 class="card-title">Log In</h5>
               <form action="/login" method="POST">
                   Username <input type="text" name="username" placeholder="Username"/><br><br>
                   Password  <input type="password" name="password" placeholder="password"/><br><br>
                   <input type="submit" class="btn btn-primary" id="submit"/>
               </form>
            </div>
        </div>
        </div>
        </div>
</body>
</html>