<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/admin.css" />
    <link rel="icon" type="icon" href="/img/seww.ico" />
    <script src="/js/Jquery.js"></script>
    <script src="/css/bootstrap/js/bootstrap.js"></script>
    <title>Control Page</title>
</head>
<body>
    <div id="form" class="container">
        <div class="row" id="login">
        <div class="col-12">
            <div>
               <h5 class="card-title">Log In</h5>
               <form action="/orders" method="POST">
                   Username <input type="text" name="username" placeholder="Username"/><br><br>
                   Password  <input type="password" name="password" placeholder="password"/><br><br>
                   <input type="submit" class="btn btn-primary" id="submit"/>
               </form>
            </div>
        </div>
        </div>
        </div>
</body>
</html>